<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Forms</title>
</head>
<body>
    <form  action="." method="post">
    <!--It was created a the forms-->
    {% csrf_token %}
    <h3>¡Esto no es una historia clinica!</h3>
    <div>
    <h4>Este formulario nos permite como estudiantes el poder contactarte, por lo cual estos datos estan protegidos.</h4>
    </div>
    <div>
        <label for="names and lastnames">Nombre y Apellidos</label>
        <input type="text" name="names and lastnames" id="">
    </div>
    <div>
        <label for="number phone">Numero telefonico</label>
        <input type="text" name="number phone" id="">
    </div>
    <div>
        <label for="email">Correo electronico</label>
        <input type="email" name="email" id=""> 
    </div>
    <div>
        <label for="medical care">Seguro medico</label>
        <input type="text" name="medical care" id=""> 
    </div>
    <div>
        <label for="datebirh">Fecha de nacimiento</label>
        <input type="date" name="datebirth" id=""> 
    </div>
        <input type="submit" value="Enviar" >
    </form>
</body>
</html>