<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <title>Costos 2023</title>
    <style>
       body{
        background-color: #2E2D2D;
        color: #019BFF;
       }
       navbar{
        background-color: #2E2D2D;
        color:#019BFF;
       }
       ul{
        background-color: #2E2D2D;
       }
    </style>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl">Precios 2023</a>
        </div>
        <div class="flex-none">
          
            <div class="btn ml-40">
                <button><a href={% url 'index' %}>Regresar</a></button>
             </div>
          
        </div>
      </div>
   <div class="container mx-16 px-80 ml-40">
    
<ul>   
        <li>Aclarado dental $1580.00</li>
        <li>Alargamiento de corona $585.00</li>
        <li>Amalgama pieza permanente $225.00</li>
        <li>Amalgama pieza primaria $145.00</li>
        <li>Aparato removible bilateral $475.00</li>
        <li>Aplicación de MTA(cemento reparador) $365.00</li>
        <li>Banda para reconstrucción $175.00</li>
        <li>Banda y ansa $365.00</li>
        <li>Barniz de flúor clinpro $175.00</li>
        <li>Blanqueamiento por arcada $925.00</li>
        <li>cementación $105.00</li>
        <li>Cementación adhesiva cada unidad $230.00</li>
        <li>Cirugía periodontal $585.00</li>
        <li>Consulta y diagnostico $ 58.00</li>
        <li>Corona acero/cromo $325.00</li>
        <li>Corona de acero permanente $450.00</li>
        <li>Corona y ansa $365.00</li>
        <li>Diagnostico integral $115.00</li>
        <li>Drenar absceso $145.00</li>
        <li>Endodoncia anteriores $475.00</li>
        <li>Endodoncia posteriores $ 540.00</li>
        <li>Endoposte $145.00</li>
        <li>Estudio completo ( Panoramica y lateral cone beam) $1080.00</li>
        <li>Estudio de diagnostico $310.00</li>
        <li>Estudio histopatologico $365.00</li>
        <li>Extraccion $145.00</li>
        <li>Extraccion de terceros molares $585.00</li>
        <li>Ferulalizacion de por traumatismo $425.00</li>
        <li>Guarda oclusal $200.00</li>
        <li>Impresion con alginato $160.00</li>
        <li>Impresion silicon a (pentamix) $260.00</li>
        <li>Mantenedor fijo bilateral $410.00</li>
        <li>Microabrasion por diente $200.00</li>
        <li>Modelo estudio adulto $150.00</li>
        <li>Obturacion con ionomero civdh $260.00</li>
        <li>Placa parcial $750.00</li>
        <li>Placa total $1600.00</li>
        <li>Reparacion de placa $145.00</li>
        <li>Profilaxis $145.00</li>
        <li>Profilaxis infantil $85.00</li>
        <li>Protesis transicional $370.00</li>
        <li>Pulpectomia $295.00</li>
        <li>Pulpotomia $125.00</li>
        <li>RayosX oclusal $145.00</li>
        <li>Radiografia periapical $42.00</li>
        <li>Raspado y alisado radicular $325.00</li>
        <li>Reconstruccion con ionomero polvo/liquido $195.00</li>
        <li>Rectificacion de impresion $130.00</li>
        <li>Registro proceso por cuadrante $315.00</li>
        <li>Reminerañizacion integral $690.00</li>
        <li>Reposicion de documentos $35.00</li>
        <li>Reposicion de impresion $195.00</li>
        <li>Resina fotocurable $325.00</li>
        <li>RayosX lateral $240.00</li>
        <li>RayosX panoramica licenciatura $220.00</li>
        <li>Sellador fuji triage $165.00</li>
        <li>Sellador fotocurable por unidad $160.00</li>
        <li>Toma de biopsia  $535.00</li>
        <li>Trateamiento alveolitis $120.00</li>
        <li>Tratamiento  desensibilizador $285.00</li>
        <li>Unidad de protesis fija $155.00</li>
</ul>
<br>
  </div>
    
</body>
</html>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />