<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treatments</title>
</head>
<body>
    <form action="." method="post">
    <h2>¿Qué es lo que ando buscando?</h2>
    {% csrf_token %}
    <!-- The list was created and adjustement with the checkbox-->
    
    <input type="checkbox" name="Atención pediátrica " id="">
    <label for="">Atención pediátrica </label>
    <input type="checkbox" name="Consulta y diagnóstico" id="">
    <label for="">Consulta y diagnóstico</label>
    <input type="checkbox" name="Coronas y puentes  " id="">
    <label for="">Coronas y puentes  </label>
    <input type="checkbox" name="Extracciones de algún diente (exodoncia)" id="">
    <label for="">Extracciones de algún diente (exodoncia)</label>
    <input type="checkbox" name="extracciones terceros molares" id="">
    <label for="">Extracciones terceros molares</label>
    <input type="checkbox" name="Endodoncias (caries profundas)" id="">
    <label for="">Endodoncias (caries profundas)</label>
    <input type="checkbox" name="Limpiezas" id="">
    <label for="">Limpiezas</label>
    <input type="checkbox" name="Muestra patológica" id="">
    <label for="">Muestra patológica</label>
    <input type="checkbox" name="Periodoncias (procedimientos de la encía)    " id="">
    <label for="">Periodoncias (procedimientos de la encía) </label>
    <input type="checkbox" name="Protesis " id="">
    <label for="">Protesis </label>
    <input type="checkbox" name="¿Rayos x (aquí se incluyen panorámicas, periapicales , laterales)" id="">
    <label for="">¿Rayos x (aquí se incluyen panorámicas, periapicales , laterales)</label>
    <input type="checkbox" name="Rellenos y eliminación de caries" id="">
    <label for="">Rellenos y eliminación de caries</label>
    <div>
        <input type="submit" value="Enviar" >
    </div>
        <div>
            <a href={% url 'index' %}>Regresar</a>
        </div>
    </form>
    
</body>
</html>